{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!DOCTYPE html>

    <body>
    
        <div class="slider-container">
           {% for img in list %}
           <div>
                <li><img src={{ asset('/images/'~ img) }}></li>
            </div>
            {% endfor %}

        </div>
    </body>


{% endblock %}
